#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]

(
    album_art_position: Left,
    album_art_width_percent: 40,
    default_album_art_path: None,
    draw_borders: false,
    show_song_table_header: false,
    symbols: (song: "🎵", dir: "📁", marker: "\u{e0b0}"),
    progress_bar: (
        symbols: ["", "⭘", " "],
      
    ),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (),
        ends_style: (),
    ),
    browser_column_widths: [20, 38, 42],
    text_color: None,
    background_color: None,
    header_background_color: None,
    modal_background_color: None,
    tab_bar: (
        enabled: false,
        active_style: (fg: "black", bg: "#c6a0f6", modifiers: "Bold"),
        inactive_style: (),
    ),
    borders_style: (fg: "#6e738d"),
    highlighted_item_style: (fg: "#c6a0f6", modifiers: "Bold"),
    current_item_style: (fg: "black", bg: "#b7bdf8", modifiers: "Bold"),
    highlight_border_style: (fg: "#b7bdf8"),
    song_table_format: [
        (
            prop: (kind: Property(Artist),  default: (kind: Text("Unknown"))),
            width_percent: 49,
            alignment: Right,
        ),
        (
            prop: (kind: Text("-"),  default: (kind: Text("Unknown"))),
            width_percent: 2,
            alignment: Center,
        ),
        (
            prop: (kind: Property(Title),  default: (kind: Text("Unknown"))),
            width_percent: 49,
        ),
    ],
    header: (

        rows: [

            (

                left: [

                    (kind: Text("["), style: (modifiers: "Bold")),

                    (kind: Property(Status(State)), style: (modifiers: "Bold")),

                    (kind: Text("]"), style: (modifiers: "Bold"))

                ],

                center: [

                    (kind: Property(Song(Artist)), style: (modifiers: "Bold"),

                        default: (kind: Text("Unknown"), style: (modifiers: "Bold"))

                    ),

                    (kind: Text(" - ")),

                    (kind: Property(Song(Title)), style: (modifiers: "Bold"),

                        default: (kind: Text("No Song"), style: (modifiers: "Bold"))

                    )

                ],

                right: [

                    (kind: Text("Vol: "), style: (modifiers: "Bold")),

                    (kind: Property(Status(Volume)), style: (modifiers: "Bold")),

                    (kind: Text("% "), style: (modifiers: "Bold"))

                ]

            )

        ],

    ),

)
