 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #97626A;
active-foreground: #ED93B9;
normal-background: #010103;
normal-foreground: #ED93B9;
urgent-background: #9B585D;
urgent-foreground: #ED93B9;

alternate-active-background: #9B7078;
alternate-active-foreground: #ED93B9;
alternate-normal-background: #010103;
alternate-normal-foreground: #ED93B9;
alternate-urgent-background: #010103;
alternate-urgent-foreground: #ED93B9;

selected-active-background: #97626A;
selected-active-foreground: #ED93B9;
selected-normal-background: #D47EA3;
selected-normal-foreground: #ED93B9;
selected-urgent-background: #9B585D;
selected-urgent-foreground: #ED93B9;

background-color: #010103;
background: rgba(0,0,0,0.7);
foreground: #E1B6C8;
border-color: #97626A;
}

