 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #714748;
active-foreground: #DF938E;
normal-background: #030000;
normal-foreground: #DF938E;
urgent-background: #885F68;
urgent-foreground: #DF938E;

alternate-active-background: #8E5747;
alternate-active-foreground: #DF938E;
alternate-normal-background: #030000;
alternate-normal-foreground: #DF938E;
alternate-urgent-background: #030000;
alternate-urgent-foreground: #DF938E;

selected-active-background: #714748;
selected-active-foreground: #DF938E;
selected-normal-background: #C37C77;
selected-normal-foreground: #DF938E;
selected-urgent-background: #885F68;
selected-urgent-foreground: #DF938E;

background-color: #030000;
background: rgba(0,0,0,0.7);
foreground: #D9B5B3;
border-color: #714748;
}

